* {
    margin: 50;
    padding: 0;
}

#game{
    background-color: rgb(12, 235, 243);
    width: 500px;
    height: 300px;
    border: 1px solid #333;
    box-shadow: rgb(22, 151, 190) 5px 5px; 
    overflow: hidden;
}


#personagem{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 213px;
}

.animar{
    animation: jump 700ms infinite;
}

@keyframes jump{
    0% {top: 213px;}
    30% {top: 150px 0.7s;}
    50% {top: 130px;}
    70% {top: 150px 0.7s;}
    100% {top: 213px;}
}

#pipe{
    height: 40px;
    width: 40px;
    position: relative;
    top: 260px;
    left: 520px;
    animation: pipe 1s linear infinite;
}

@keyframes pipe{
    0%{left: 520px;}
    100%{left: -40px;}
}

#cloud{
      padding: 15px;
      width: 170px;  
      height: 80px;
      position: absolute;
      left: 500px;
      animation: cloud 4s linear infinite
}

@keyframes cloud{
    0% {left: 500px;
        
    }
    100% {left: -300px;}
}

#grama{
    margin-top: 150px;
    width: 500px;
}

#msg{
    padding-left: 50px;
    margin-inline: 80px;
    display: flex;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    font: normal 20pt arial;
    border:  #333;
    box-shadow: rgb(190, 22, 22) 5px 5px;
    background-color: #2915df;
}


